<%= f.fields_for :addresses do |addresses_form| %>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Address</h3>
    </div>    
    <div class="panel-body">
      <div class="control-group">
        <%= addresses_form.label :address1, :class => 'control-label' %>
        <div class="controls">
          <%= addresses_form.text_field :address1, :class => 'form-control' %>
        </div>
      </div>
      <div class="control-group">
        <%= addresses_form.label :address2, :class => 'control-label' %>
        <div class="controls">
          <%= addresses_form.text_field :address2, :class => 'form-control' %>
        </div>
      </div>
      <div class="control-group">
        <%= addresses_form.label :city, :class => 'control-label' %>
        <div class="controls">
          <%= addresses_form.text_field :city, :class => 'form-control' %>
        </div>
      </div>
      <div class="control-group">
        <%= addresses_form.label :state, :class => 'control-label' %>
        <div class="controls">
          <%= addresses_form.text_field :state, :class => 'form-control' %>
        </div>
      </div>
      <div class="control-group">
        <%= addresses_form.label :zip, :class => 'control-label' %>
        <div class="controls">
          <%= addresses_form.text_field :zip, :class => 'form-control' %>
        </div>
      </div>    
      <div class="control-group">
        <div class="controls">
          <%= addresses_form.check_box :_destroy %>
          <%= addresses_form.label :_destroy, "Delete Address" %>
        </div>
      </div>
    </div>
  </div>
<% end %>