<%= form_for @contact, :html => { :class => "form-horizontal contact" } do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Contact Information</h3>
    </div>    
    <div class="panel-body">
      <% if @contact.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
            <% @contact.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="control-group">
        <%= f.label :first_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :first_name, :class => 'form-control' %>
        </div>
        <%= error_span(@contact[:first_name]) %>
      </div>
      <div class="control-group">
        <%= f.label :last_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :last_name, :class => 'form-control' %>
        </div>
        <%= error_span(@contact[:last_name]) %>
      </div>
      <div class="control-group">
        <%= f.label :email, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email, :class => 'form-control' %>
        </div>
        <%= error_span(@contact[:email]) %>
      </div>      
    </div>
  </div>      
    
  <%= render :partial => "address", :locals => { :f => f } %>
  
  <%= render :partial => "phone", :locals => { :f => f } %>
  
  <br/>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            contacts_path, :class => 'btn btn-default' %>

<% end %>
