<%= f.fields_for :phones do |phones_form| %>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Phone Numbers</h3>
    </div>    
    <div class="panel-body">
      <div class="control-group">
        <%= phones_form.label :number, :class => 'control-label' %>
        <div class="controls">
          <%= phones_form.text_field :number, :class => 'form-control' %>
        </div>
      </div>
      <div class="control-group">
        <%= phones_form.label :phone_type, :class => 'control-label' %>
        <div class="controls">
          <%= phones_form.collection_select :phone_type_id, PhoneType.all, :id, :name, {prompt: "Select a Phone Type"}, {class: "form-control"} %>
          <%= phones_form.check_box :_destroy %>
          <%= phones_form.label :_destroy, "Delete Phone Number" %>          
        </div>
      </div>
    </div>
  </div>
<% end %>