<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "last_name", model_class.human_attribute_name(:name) %></th>
      <th><%= sortable "email", model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% unless @contacts.blank? %>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.name, edit_contact_path(contact) %></td>
          <% if contact.email.blank? %>
            <td></td>
          <% else %>
            <td><%= link_to contact.email, edit_contact_path(contact) %></td>
          <% end %>
        <td>
          <% contact.phones.each do |phone| %>
            <%= phone.number %>
          <% end %>
        </td>
        <td>
          <% contact.addresses.each do |address| %>
            <%= address.address1 %>
          <% end %>
        </td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_contact_path(contact), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      contact_path(contact),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_contact_path,
            :class => 'btn btn-primary' %>
