<%- model_class = Contact -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @contact.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @contact.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @contact.email %></dd>  
  <% unless @contact.addresses.blank? %>
    <% @contact.addresses.each do |address| %>
      <dt><strong><%= model_class.human_attribute_name(:address1) %>:</strong></dt>
      <dd><%= address.address1 %></dd>
      <dt><strong><%= model_class.human_attribute_name(:address2) %>:</strong></dt>
      <dd><%= address.address2 %></dd>
      <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
      <dd><%= address.city %></dd>
      <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
      <dd><%= address.state %></dd>
      <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
      <dd><%= address.zip %></dd>
    <% end %>
  <% end %>
  
  <% unless @contact.phones.blank? %>
    <% @contact.phones.each do |phone| %>
      <dt><strong><%= model_class.human_attribute_name(:phone) %></strong></dt>
      <dd><%= phone.number %></dd>
    <% end %>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              contacts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contact_path(@contact), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contact_path(@contact),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
